/*Visual Styles for a dark theme*/
body {
    background-color: rgb(75, 75, 75);
}
.mainButton {
    background-color: transparent;
}
.mainButton:hover, .buttonSelected {
    box-shadow: 0px 0px 5px 1px rgb(25, 25, 25);
}
.buttonBorder > div, #navBarMenuToggle > .buttonContent > div {
    background-color: rgb(0, 119, 200);
}
hr {
    background-color: rgb(0, 119, 200);
}
.top {
    box-shadow: 0px 10px 15px -5px rgb(25, 25, 25);
}
.topText, .navBar {
    background-color: rgba(25, 25, 25, .75);
    box-shadow: 0px 0px 25px -5px rgb(25, 25, 25);
}
#topText, #homeTitle {
    color: rgb(200, 200, 200);
}

.seasonContent, .ybImgs {
    border: 2px solid rgb(0, 119, 200);
}
.seasonTitle > span {
    /*Same as body*/
    background-color: rgb(75, 75, 75); 
}
.seasonTitleText {
    color: rgb(200, 200, 200)
}
.seasonPreview::before {
    background-color: rgba(25, 25, 25, .3);
}
.seasonPreviewBtns {
    background-color: rgba(0, 119, 200, .75);
    box-shadow: 0px -5px 10px -5px rgb(25, 25, 25);
}
.mainButton > .buttonContent {
    background-color: rgba(25, 25, 25, 1);
    color: rgb(200, 200, 200);
}
.mainButton > .buttonContent > hr {
    background-color: rgb(0, 119, 200);
}

.menuButton:hover, 
#gotoHomeBtn:hover,
#navBarMenuToggle:hover {
    box-shadow: none;
}
.menuButton > .buttonContent, 
#gotoHomeBtn > .buttonContent,
#navBarMenuToggle > .buttonContent {
    background-color: transparent;
}

.seasonSectionItem {
    box-shadow: 0px 0px 25px -5px rgb(25, 25, 25);
}
.seasonSectionItem:hover {
    box-shadow: 0px 0px 15px 0px rgb(25, 25, 25);
}
.seasonSectionItem.buttonSelected {
    box-shadow: 0px 0px 5px 0px rgb(25, 25, 25);
}
.seasonSectionItemBorder > div {
    background-color: rgb(0, 119, 200);
}
.seasonSectionItemBK {
    background-color: rgb(100, 100, 100);
}
.seasonSectionItemBKCover {
    background-color: rgba(25, 25, 25, .7);
}
.seasonSectionItem:hover > .seasonSectionItemBK > .seasonSectionItemBKCover,
.seasonSectionItem.buttonSelected > .seasonSectionItemBK > .seasonSectionItemBKCover {
    background-color: transparent;
}
.seasonSectionItem:hover > .seasonSectionItemNameBanner::before,
.seasonSectionItem.buttonSelected > .seasonSectionItemNameBanner::before {
    background-color: rgba(25, 25, 25, 1);
}
.seasonSectionItemName {
    color: rgb(225, 225, 225);
}

.ybImgCover {
    background-color: rgba(25, 25, 25, .3);
}
.ybImgInfoBar {
    background-color: rgba(25, 25, 25, .25);
    color: rgb(200, 200, 200);
    box-shadow: 0px -5px 10px -5px rgb(25, 25, 25);
}

@media screen and (max-width: 1000px) {
    .menu {
        background-color: rgba(25, 25, 25, .9);
        box-shadow: 0px 0px 25px -5px transparent;
    }
    .menuOpen {
        box-shadow: 0px 0px 25px -5px rgb(25, 25, 25);
    }
    .cover {
        background-color: transparent
    }
    .coverOpen {
        background-color: rgba(25, 25, 25, .5);
    }
}