/*Visual Styles for a dark theme*/
body {
    background-color: rgb(75, 75, 75);
}
.mainButton {
    background-color: transparent;
}
.mainButton:hover, .buttonSelected {
    box-shadow: 0px 0px 5px 1px rgb(25, 25, 25);
}
.buttonBorder > div, #navBarMenuToggle > .buttonContent > div {
    background-color: rgb(0, 119, 200);
}
hr {
    background-color: rgb(0, 119, 200);
}
.top {
    box-shadow: 0px 10px 15px -5px rgb(25, 25, 25);
}
.topText, .navBar {
    background-color: rgba(25, 25, 25, .75);
    box-shadow: 0px 0px 25px -5px rgb(25, 25, 25);
}
#topText, #homeTitle {
    color: rgb(200, 200, 200);
}

.seasonTitle {
    border-bottom: 2px solid rgb(0, 119, 200);
}
.seasonTitleText {
    color: rgb(200, 200, 200)
}
.seasonPreview {
    box-shadow: -5px 0px 10px -5px rgb(0, 0, 0);
}
.seasonPreview::before {
    background-color: rgba(25, 25, 25, .3);
}
.seasonPreviewBtns {
    background-color: rgba(0, 119, 200, .75);
    box-shadow: 0px -5px 10px -5px rgb(25, 25, 25);
}
.mainButton > .buttonContent {
    background-color: rgba(25, 25, 25, 1);
    color: rgb(200, 200, 200);
}
.mainButton > .buttonContent > hr {
    background-color: rgb(0, 119, 200);
}

.menuButton:hover, 
#gotoHomeBtn:hover,
#navBarMenuToggle:hover {
    box-shadow: none;
}
.menuButton > .buttonContent, 
#gotoHomeBtn > .buttonContent,
#navBarMenuToggle > .buttonContent {
    background-color: transparent;
}

.seasonSectionRowItem {
    box-shadow: 0px 0px 25px -5px rgb(25, 25, 25);
}
.seasonSectionRowItem:hover, .seasonSectionRowItemSelected {
    box-shadow: 0px 0px 15px 0px rgb(25, 25, 25);
}
.seasonSectionRowItemSelected {
    box-shadow: 0px 0px 5px 0px rgb(25, 25, 25) !important;
}
.seasonSectionRowItemBorder > div {
    background-color: rgb(0, 119, 200);
}
.seasonSectionRowItemBK {
    background-color: rgb(100, 100, 100);
}
.seasonSectionRowItemBKCover {
    background-color: rgba(25, 25, 25, .7);
}
.seasonSectionRowItem:hover > .seasonSectionRowItemBK > .seasonSectionRowItemBKCover,
.seasonSectionRowItemSelected > .seasonSectionRowItemBK > .seasonSectionRowItemBKCover {
    background-color: transparent;
}

.seasonSectionRowItem:hover > .seasonSectionRowItemNameBanner::before,
.seasonSectionRowItemSelected > .seasonSectionRowItemNameBanner::before {
    background-color: rgba(25, 25, 25, 1);
}
.seasonSectionRowItemName {
    color: rgb(225, 225, 225);
}

@media screen and (max-width: 1000px) {
    .menu {
        background-color: rgba(25, 25, 25, .75);
        box-shadow: 0px 0px 25px -5px transparent;
    }
    .menuOpen {
        box-shadow: 0px 0px 25px -5px rgb(25, 25, 25);
    }
    .cover {
        background-color: transparent
    }
    .coverOpen {
        background-color: rgba(25, 25, 25, .5);
    }
}

@media screen and (max-width: 1300px) {
    .seasonPreview:nth-child(1) {
        box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
    }
    .seasonPreview:nth-child(2) {
        box-shadow: 5px 0px 10px -5px rgb(0, 0, 0);
    }
}