/*
rgb(0, 119, 200);

*/
#homeTitle {
    display: inline-block !important;
    font-size: 35px;
}
#gotoHomeBtn {
    display: none !important;
}


.season {
    display: inline-block;
    text-align: left;
    width: 75%;
    margin-bottom: 75px;
}
.seasonTitle {
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
}
.seasonTitle > span {
    margin-left: 25px;
}
.ybCoverBox {
    margin: 0px;
    width: auto !important;
    max-width: 90%;
}


.seasonContent {
    margin-top: 5px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    text-align: center;
    border: 2px solid transparent;
}
.season:nth-child(2n) > .seasonContent {
    flex-direction: row-reverse;
}
.seasonPreviews {
    position: relative;
    display: inline-block;
}
.seasonPreview {
    font-size: 0px;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    transform-origin: center left;
}
.seasonPreview::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: 750ms ease-in-out;
}
.seasonPreview:nth-child(1) {
    z-index: 3;
    position: relative;
}
.seasonPreview:nth-child(2) {
    position: absolute;
    left: -10px;
    opacity: .8;
    z-index: 2;
    transform: scale(.95);
}
.seasonPreview:nth-child(3) {
    position: absolute;
    left: -20px;
    opacity: .6;
    z-index: 1;
    transform: scale(.85);
}
.seasonPreview > img {
    max-width: 350px;
}
.seasonPreviewBtns {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 10px);
    padding: 5px;
    text-align: center;
}
.seasonPreviewBtn {
    margin: 0px 5px 0px 5px;
}
.seasonSections {
    font-size: 0px;
    width: calc(100% - 10px);
    padding: 10px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.seasonSectionItem {
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    padding: 25px 0px 25px 0px;
    position: relative;
    overflow: hidden;
    transition-duration: 250ms;
    transform: scale(1) translate3d(0px, 0px, 0px);
    min-width: calc(50% - 20px);
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.seasonSectionItemSelected {
    transform: scale(.95) translate3d(0px, 0px, 0px);
    border-radius: 0px;
}

.seasonSectionItem:hover > .seasonSectionItemBK,
.seasonSectionItem.buttonSelected > .seasonSectionBK{
    transform: scale(1);
}
.seasonSectionItem:hover > .seasonSectionItemNameBanner::before,
.seasonSectionItem.buttonSelected > .seasonSectionItemNameBanner::before{
    width: 100%;
    left: 0px;
}
.seasonSectionItemNameBanner::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 100%;
    left: calc(25% / 2);
    top: 0px;
    z-index: -1;
    transition: 250ms ease-in-out;
}


.seasonSectionItemBorder > div:nth-child(2n+1) {
    /*Top and bottom*/
    height: 3px;
    width: 100%;
    transform: rotateY(90deg);
}
.seasonSectionItemBorder > div:nth-child(2n) {
    /*left and right*/
    width: 3px;
    height: 100%;
    transform: rotateX(90deg);
}
.seasonSectionItem:hover > .seasonSectionItemBorder > div,
.seasonSectionItem.buttonSelected > .seasonSectionItemBorder > div {
    transform: rotateY(0deg) rotateX(0deg);
}


.seasonSectionItemBK {
    position: absolute;
    top: -10px;
    left: -10px;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    transition-duration: 400ms;
    transform: scale(1.5);
}
.seasonSectionItemBKCover {
    height: 100%;
    width: 100%;
    transition-duration: 400ms;
}

.seasonSectionItemNameBanner {
    width: calc(100% - 20px);
    padding: 10px;
    transition-duration: 250ms;
    font-size: 25px;
    word-break: break-word;
    display: inline-block;
    position: relative;
}
.seasonSectionItemName {
    display: inline-block;
    transition-duration: 250ms;
}
.seasonSectionItemName > hr {
    transform: rotateY(90deg);
    transition-duration: 400ms;
}

.seasonSectionItem:hover > .seasonSectionItemNameBanner > .seasonSectionItemName > hr,
.seasonSectionItemSelected > .seasonSectionItemNameBanner > .seasonSectionItemName > hr {
    transform: rotateY(0deg);
}
/*Media queries for different sizes below*/

@media screen and (max-width: 1300px) {
    .seasonContent {
        display: block;
    }
    .seasonSections {
        padding-right: 0px;
        width: 100%;
    }
    .seasonSectionItemBK {
        filter: none !important;
    }
    .seasonSectionItem {
        padding: 0px;
        margin: 5px;
        min-width: calc(50% - 10px);
    }
    .seasonSectionItemNameBanner {
        padding: 15px;
        width: calc(100% - 30px);
        border-radius: 0px;
    }
    .seasonSectionItemSelected {
        transform: scale(.95) translate3d(0px, 0px, 0px) !important;
    }
}
@media screen and (max-width: 600px) {
    .season {
        width: calc(100% - 20px);
    }
    .seasonPreview > img {
        max-width: 100%;
    }
}