/*Visual Styles for a light theme*/
body {
    background-color: rgb(255, 255, 255);
}
button:hover, .buttonSelected {
    box-shadow: 0px 0px 5px 1px rgb(25, 25, 25);
}
hr {
    background-color: rgb(0, 119, 200);
}
.top {
    box-shadow: 0px 10px 15px -5px rgb(150, 150, 150);
}
.topText {
    background-color: rgba(200, 200, 200, .75);
    box-shadow: 0px 0px 25px -5px rgb(200, 200, 200);
}
#topText {
    color: rgb(50, 50, 50);
}

.seasonTitle {
    border-bottom: 2px solid rgb(0, 119, 200);
}
.seasonTitleText {
    color: rgb(25, 25, 25)
}
.seasonPreview {
    box-shadow: -5px 0px 10px -5px rgb(100, 100, 100);
}
.seasonPreviewBtns {
    background-color: rgba(200, 200, 200, .75);
}
.seasonPreviewBtn {
    background-color: rgb(0, 119, 200);
    color: rgb(225, 225, 225);
}
.seasonPreviewBtn > hr {
    background-color: rgb(225, 225, 225);
}

.seasonSectionRowItem {
    box-shadow: 0px 0px 25px -5px rgb(100, 100, 100);
}
.seasonSectionRowItem:hover, .seasonSectionRowItemSelected {
    box-shadow: 0px 0px 15px 0px rgb(100, 100, 100);
}
.seasonSectionRowItemSelected {
    box-shadow: 0px 0px 5px 0px rgb(100, 100, 100) !important;
}
.seasonSectionRowItemBK {
    background-color: rgb(200, 200, 200);
}
.seasonSectionRowItemNameBanner {
    background-color: rgba(225, 225, 225, .75);
    box-shadow: 0px 0px 10px 0px rgb(200, 200, 200);
}
.seasonSectionRowItemName {
    color: rgb(25, 25, 25);
}

@media screen and (max-width: 1300px) {
    .seasonPreview:nth-child(1) {
        box-shadow: 0px 0px 15px -5px rgb(100, 100, 100);
    }
    .seasonPreview:nth-child(2) {
        box-shadow: 5px 0px 10px -5px rgb(100, 100, 100);
    }
}