/*
rgb(0, 119, 200);

*/
html, body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
* {
    font-family: 'Lato', sans-serif; /*Navigation*/
    font-family: "Quicksand", sans-serif; /*Main*/
}
button {
    font-family: "Lato", sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 250ms ease-in-out;
    position: relative;
    padding: 0px;
}
hr {
    padding: 0px;
    margin: 0px;
    border: none;
    height: 2px;
    transition: 250ms ease-in-out;
}
a, a:visited {
    color: rgb(0, 119, 200);
    text-decoration: none;
    font-family: Lato;
    font-family: "Quicksand";
}
.mainButton > .buttonContent {
    /*
    min padding of 3px to 
    accomodate the inner border 
    widths/heights
    */
    padding: 10px 15px 10px 15px;
    font-family: "Lato";
    font-size: 15px;
}
.buttonContent {
    transition-duration: 250ms;
}
.buttonBorder {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    pointer-events: none;
    z-index: 1;
}
.buttonBorder > div {
    position: absolute;
    transition-duration: 250ms;
    transform-origin: center;
}
.buttonBorder > div:nth-child(2n+1) {
    /*Top and bottom*/
    height: 3px;
    width: 100%;
    transform: rotateY(90deg);
}
.buttonBorder > div:nth-child(2n) {
    /*left and right*/
    width: 3px;
    height: 100%;
    transform: rotateX(90deg);
}
.buttonBorder > div:nth-child(1) {
    top: 0px;
}
.buttonBorder > div:nth-child(2) {
    right: 0px;
}
.buttonBorder > div:nth-child(3) {
    bottom: 0px;
}
.buttonBorder > div:nth-child(4) {
    left: 0px;
}
.mainButton:hover > .buttonBorder > div,
.buttonSelected > .buttonBorder > div {
    transform: rotateY(0deg) rotateX(0deg);
}
.buttonSelected {
    transform: scale(.95);
}
.top {
    overflow: hidden;
    position: relative;
    height: 50vh;
    min-height: 300px;
    width: 100%;
    min-height:;
}
.topImg {
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    position: absolute;
    top: -10px;
    left: -10px;
    //filter: blur(5px);
    background-size: cover;
    background-position: center center;
}

.navBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 0px;
    display: flex;
    align-items: center;
    text-align: left;
    z-index: 10;
}
.navBarContent {
    display: inline-block;
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
}
#homeTitle {
    display: none;
}
#gotoHomeBtn {
    display: inline-block;
}
#navBarMenuToggle {
    display: none;
}
.menu {
    display: inline-block;
    text-align: right;
}
.menuButton, #navBarMenuToggle {
    margin: 10px;
}

.menuButton > .buttonContent, 
#gotoHomeBtn > .buttonContent, 
#navBarMenuToggle > .buttonContent {
    font-size: 17px;
}

#navBarMenuToggle > .buttonContent {
    padding: 8px 5px 8px 5px;
}
#navBarMenuToggle > .buttonContent > div {
    height: 3px;
    width: 30px;
    margin: 6px;
}

.topContentBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.topText {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 75%;
    padding: 15px 10px 15px 10px;
    border-radius: 25px;
}
#topText {
    font-size: 30px;
}

.searchButton {
    margin: 25px;
    display: inline-block;
}
.searchButton > .buttonContent {
    font-size: 20px;
    padding: 10px 35px 10px 35px;
}
.content {
    text-align: center;
    font-size: 0px;
}

.ybImgs {
    display: inline-block;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
    position: relative;
    font-size: 0px;
    margin-bottom: 75px;
}
.submittedImgs {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ybButton {
    margin: 10px;
    background-color: transparent;
    
}
.ybButtonSubmitted {
    width: 500px;
    max-width: calc(100% - 20px);
}
.ybImgCover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.ybImgInfoBar {
    position: relative;
    width: calc(100% - 20px);
    font-size: 17px;
    text-align: left;
    padding: 10px;
    text-transform: capitalize;
}
.ybButton > .buttonBorder > div:nth-child(2n+1) {
    height: 5px;
}
.ybButton > .buttonBorder > div:nth-child(2n) {
    width: 5px;
}
.ybButton > .buttonContent {
    padding: 0px;
    font-size: 0px;
}
.ybImg {
    max-height: 400px;
    max-width: 100%;
}


/*Media queries for different sizes below*/
@media screen and (max-width: 1000px) {
    #navBarMenuToggle {
        display: inline-block;
    }
    .menu {
        position: fixed;
        top: 0px;
        right: -300px;
        width: 300px;
        height: 100%;
        max-width: 80%;
        transition: 250ms ease-in-out;
        z-index: 10;
    }
    .menuOpen {
        right: 0px;
    }
    .menuButton {
        display: block;
        width: calc(100% - 20px);
        margin: 10px;
    }
    .cover {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        height: 100%;
        width: 100%;
        visibility: hidden;
        transition: 250ms ease-in-out;
    }
    .coverOpen {
        visibility: visible;
    }
    #homeTitle {
        font-size: 25px !important;
    }
    .ybImgs {
        padding: 5px;
        width: 90%;
        border-radius: 15px;
    }
}